* {
    
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

h1 {
    background-color: #081b31;
    color: rgb(10, 161, 231);
    height: 5rem;
    line-height: 5rem;
}

.choice {
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
}
img {
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out; 
}

img:hover {
    transform: scale(1.1); 
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
}

#user-score, #comp-score {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: black;
    color: white;
    line-height: 5rem;
    font-size: 2rem;
    display: inline-block;
    border-radius: 1rem;
    width: auto;
    padding: 0 2rem; 
}
